{% extends 'base.ecole.html.twig' %}

{% block title %}Classes{% endblock %}

{% block body %}
    <h3>Classes</h3>
    <a href="{{ path ("")}}" class="btn btn-primary">Ajouter Classe</a>
    <div class="card">
     <div class="card.body">
     liste des Classes
    </div>
    </div>
{% endblock %}
